.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}

@-webkit-keyframes bounceIn {

  0% {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes bounceIn {

  0% {
    opacity: 0;
    -moz-transform: scale(0.8);
  }

  50% {
    opacity: 1;
    -moz-transform: scale(1.05);
  }

  100% {
    opacity: 1;
    -moz-transform: scale(1);
  }
}

@-o-keyframes bounceIn {

  0% {
    opacity: 0;
    -o-transform: scale(0.8);
  }

  50% {
    opacity: 1;
    -o-transform: scale(1.05);
  }

  100% {
    opacity: 1;
    -o-transform: scale(1);
  }
}

@keyframes bounceIn {

  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  50% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  -moz-animation-name: bounceIn;
  -o-animation-name: bounceIn;
  animation-name: bounceIn;
}

@-webkit-keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.delay {
  -webkit-animation-delay: 0.50s;
  -moz-animation-delay: 0.50s;
  -o-animation-delay: 0.50s;
  animation-delay: 0.50s;
}

.delay-one {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

.delay-two {
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.delay-three {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

.fadeInCustom {
  -webkit-animation-name: fadeInCustom;
  -moz-animation-name: fadeInCustom;
  -o-animation-name: fadeInCustom;
  animation-name: fadeInCustom;
}

@-webkit-keyframes fadeInCustomUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInCustomUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInCustomUp {
  0% {
    opacity: 0;
    -o-transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInCustomUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInCustomUp {
  -webkit-animation-name: fadeInCustomUp;
  -moz-animation-name: fadeInCustomUp;
  -o-animation-name: fadeInCustomUp;
  animation-name: fadeInCustomUp;
}

@-webkit-keyframes fadeInCustomDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes fadeInCustomDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@-o-keyframes fadeInCustomDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}

@keyframes fadeInCustomDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInCustomDown {
  -webkit-animation-name: fadeInCustomDown;
  -moz-animation-name: fadeInCustomDown;
  -o-animation-name: fadeInCustomDown;
  animation-name: fadeInCustomDown;
}

@-webkit-keyframes fadeInCustomLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@-moz-keyframes fadeInCustomLeft {
  0% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -moz-transform: translateX(0);
  }
}

@-o-keyframes fadeInCustomLeft {
  0% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -o-transform: translateX(0);
  }
}

@keyframes fadeInCustomLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fadeInCustomLeft {
  -webkit-animation-name: fadeInCustomLeft;
  -moz-animation-name: fadeInCustomLeft;
  -o-animation-name: fadeInCustomLeft;
  animation-name: fadeInCustomLeft;
}

.fadeOutCustomDown {
  -webkit-animation-name: fadeOutCustomDown;
  -moz-animation-name: fadeOutCustomDown;
  -o-animation-name: fadeOutCustomDown;
  animation-name: fadeOutCustomDown;
}

@-webkit-keyframes fadeOutCustomLeft {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
  }
}

@-moz-keyframes fadeOutCustomLeft {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateX(-20px);
  }
}

@-o-keyframes fadeOutCustomLeft {
  0% {
    opacity: 1;
    -o-transform: translateX(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateX(-20px);
  }
}

@keyframes fadeOutCustomLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }

  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@-webkit-keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOutCustom {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.animated.fadeOutCustom {
  -webkit-animation-name: fadeOutCustom;
  -moz-animation-name: fadeOutCustom;
  -o-animation-name: fadeOutCustom;
  animation-name: fadeOutCustom;
}

.animated.fadeOutCustomLeft {
  -webkit-animation-name: fadeOutCustomLeft;
  -moz-animation-name: fadeOutCustomLeft;
  -o-animation-name: fadeOutCustomLeft;
  animation-name: fadeOutCustomLeft;
}

/*Custom fadeOutUp*/
@-webkit-keyframes fadeOutCustomUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-60px);
  }
}

@-moz-keyframes fadeOutCustomUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -moz-transform: translateY(-60px);
  }
}

@-o-keyframes fadeOutCustomUp {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }

  100% {
    opacity: 0;
    -o-transform: translateY(-60px);
  }
}

@keyframes fadeOutCustomUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.fadeOutCustomUp {
  -webkit-animation-name: fadeOutCustomUp;
  -moz-animation-name: fadeOutCustomUp;
  -o-animation-name: fadeOutCustomUp;
  animation-name: fadeOutCustomUp;
}


/*MenuHeaderAnimation fadeInCustom*/
@-webkit-keyframes menufadeInCustom {
  0% {
    background-color:transparent;
  }

  100% {
    background-color: #2d2c33;
  }
}

@-moz-keyframes menufadeInCustom {
  0% {
    background-color:transparent;
  }

  100% {
    background-color: #2d2c33;
  }
}

@-o-keyframes menufadeInCustom {
  0% {
    background-color:transparent;
  }

  100% {
    background-color: #2d2c33;
  }
}

@keyframes menufadeInCustom {
  0% {
    background-color:transparent;
  }

  100% {
    background-color: #2d2c33;
  }
}

.menufadeInCustom {
  -webkit-animation-name: menufadeInCustom;
  -moz-animation-name: menufadeInCustom;
  -o-animation-name: menufadeInCustom;
  animation-name: menufadeInCustom;
}

/*MenuHeaderAnimation fadeOutCustom*/
@-webkit-keyframes menufadeOutCustom {
  0% {
    background-color:#2d2c33;
  }

  100% {
    background-color: transparent;
  }
}

@-moz-keyframes menufadeOutCustom {
  0% {
    background-color:#2d2c33;
  }

  100% {
    background-color: transparent;
  }
}

@-o-keyframes menufadeOutCustom {
  0% {
    background-color:#2d2c33;
  }

  100% {
    background-color: transparent;
  }
}

@keyframes menufadeOutCustom {
  0% {
    background-color:#2d2c33;
  }

  100% {
    background-color: transparent;
  }
}

.menufadeOutCustom {
  -webkit-animation-name: menufadeOutCustom;
  -moz-animation-name: menufadeOutCustom;
  -o-animation-name: menufadeOutCustom;
  animation-name: menufadeOutCustom;
}

/*Skills SVG Bar Grow*/
@-webkit-keyframes growBar {
  0% {
    -webkit-transform: scaleY(0);
  }

  100% {
    -webkit-transform: scaleY(1);

  }
}

@-moz-keyframes growBar {
  0% {
    -moz-transform: scaleY(0);
  }

  100% {
    -moz-transform: scaleY(1);
  }
}

@-o-keyframes growBar {
  0% {
    -o-transform: scaleY(0);
  }

  100% {
    -o-transform: scaleY(1);
  }
}

@keyframes growBar {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

.growBar {
  -webkit-animation-name: growBar;
  -moz-animation-name: growBar;
  -o-animation-name: growBar;
  animation-name: growBar;
  transform-origin: bottom;
}

/*Languages Circle Grow*/
@-webkit-keyframes show25 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 377;

  }
}

@-moz-keyframes show25 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 377;
  }
}

@-o-keyframes show25 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 377;
  }
}

@keyframes show25 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 377;
  }
}

.show25 {
  stroke-dashoffset: 377;
  -webkit-animation-name: show25;
  -moz-animation-name: show25;
  -o-animation-name: show25;
  animation-name: show25;
}

@-webkit-keyframes show75 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 126;

  }
}

@-moz-keyframes show75 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 126;
  }
}

@-o-keyframes show75 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 126;
  }
}

@keyframes show75 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 126;
  }
}

.show75 {
  //stroke-dashoffset: 126;
  -webkit-animation-name: show75;
  -moz-animation-name: show75;
  -o-animation-name: show75;
  animation-name: show75;
}

@-webkit-keyframes show100 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 0;

  }
}

@-moz-keyframes show100 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@-o-keyframes show100 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes show100 {
  0% {
    stroke-dashoffset: 503;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

.show100 {
  stroke-dashoffset: 0;
  -webkit-animation-name: show100;
  -moz-animation-name: show100;
  -o-animation-name: show100;
  animation-name: show100;
}

