
$blue           : #00A9FF;
$darkGrey       : #383740;
$lessDarkGrey   : #403F49;
$lightGrey      : #706F7F;
$black          : #2d2c33;
$white          : rgba(255,255,255,.9);
$lessWhite      : rgba(255,255,255,.7);
$primaryColor   : $blue;
$secondaryColor : $darkGrey;
$lineHeight     : 1.4285rem;

/*p {
  font-family: 'Open Sans', sans-serif !important;
}*/

.ui.grid {
  margin:0 !important;
}

.ui.disabled.dimmer {
  display: none !important;
}

#menuHeader {
  padding-left:5rem;
  padding-right:5rem;
  //padding-top:1rem;
  background: none;
}

#logoText {
  position:relative;
  top:0.5rem;
  font-size:2.5714rem;
}

.customJumbotron {
  width: 100vw !important; /* Could also use width: 100%; */
  height: 100vh !important;
  position:relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  overflow:hidden;
}

.customVideoBG {
  width: 100vw !important; /* Could also use width: 100%; */
  height: 100vh !important;
  position:absolute !important;
  //object-fit: cover !important;
  overflow:hidden;
}

.customJumbotronBGContent {
  width: 100vw !important; /* Could also use width: 100%; */
  height: 100vh !important;
  object-fit: cover !important;
  position: absolute !important; /* Change position to absolute if you don't want it to take up the whole page */
  left: 0px !important;
  top: 0px !important;
  z-index: -1 !important;
  opacity:0.1 !important;
  overflow:hidden !important;
}

.customJumbotronContent {

  margin-top: 7vh;
  //width:52rem;

  .customJumbotronMainText {
    font-size:4rem;
    margin:3vh 0 0 0;
    //font-weight:400;
  }

  button {
    display:block !important;
    margin:auto !important;
  }

  p {
    color:$white;
    font-size:1.4285rem;
    font-weight:400;
    text-align:center;
    //margin:0.5rem 0 0 0;
  }


  i {
    display:block !important;
    margin: auto !important;
    margin-top: 1rem !important;
    animation-duration: 2000ms !important;
  }
}

.sectionContainer {
  //margin-top: 4rem;
  padding: 6vh 0 8vh 0 !important;

  h1 {
    font-size: 2*$lineHeight !important;
    color: $blue !important;
    font-weight:400 !important;
  }
  h2 {
    font-size:1.5*$lineHeight !important;
    color: $blue !important;
    font-weight: 400 !important;
  }
  hr {
    height: 0.15rem;
    background-color: $white;
    margin-bottom: 2rem;
  }

  p {
    color:$white;
    font-size:0.9*$lineHeight;
    font-weight:400;
  }
}

.evenContainer {
  //background:#4b4b4e !important;
  background:$lessDarkGrey;
}

.oddContainer {
  //background:#4b4b4e !important;
  background:$darkGrey;
  p {
    font-weight:300;
  }
}

#timelineSVGContainer {
  //padding-left:5rem;
  //padding-right:5rem;
  width:90%;
}

.leftColumnContanier {
  padding-right:3rem !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.rightColumnContanier {
  padding-left:3rem !important;
  box-shadow: none !important;
}

.pageFooter {
  padding-top: $lineHeight;
  padding-bottom:$lineHeight;
  background-color:$black;
  text-align:center;
  h1 {
    color:$blue !important;
    font-weight:400 !important;
    margin-bottom: 0.5rem !important;
    //font-size: 1*$lineHeight !important;
  }

  .contactInfo {
    color:$white;
    display:inline-block;
    margin-bottom: 0.5rem;
  }

  .contactInfoItem {
    margin-left: 1rem;
    display:inline-block;
    a {
      color:$white;
    }
  }

  .copyRight {
    text-align:center;
    color:$lightGrey !important;
    margin-bottom:0.5rem;
    display:inline-block;
    margin-left:0.5rem;
    font-weight: 400 !important;
    border: none !important;
  }
}

.projectIntro
{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;

  .projectIntroHeader {
    color:$blue !important;
    font-size:2rem !important;
    line-height: 1.5*$lineHeight;
  }

  .extra
  {
    div {
      font-weight:200 !important;
    }
  }

  p {
    font-weight:200 !important;
    //font-size: $lineHeight;
  }
}

.projectCard {
  width: 100% !important;
  .header {
    display:inline !important;
  }
  .projectLogo {
    width:20% !important;
    display:inline !important;
    float:right !important;
  }
}

.closeIcon {
  color: $lessWhite;
  //display: none !important;
  cursor: pointer;

}

.closeIcon:hover {
  color:$white;
}

.step {
  font-size:0.85714286rem !important;
  color: $white !important;
}

.stepContainer {
  display: flex;
  justify-content: center;
  padding-top: $lineHeight;
}

.ui.steps .step:after {
  border-color: $blue !important;
}

.ui.steps .step.active:after {
   //border-color: $lessDarkGrey !important;
 }

.ui.steps .step:hover::after {
  //border-color: $lessDarkGrey !important;
  //background-color: $lessDarkGrey;
}

.ui.steps .step.active {
  //border-right: 1px solid $lessDarkGrey !important;
  //border-left: 1px solid $lessDarkGrey !important;
}

.ui.steps a.step:hover {
  //border-right: 1px solid $lessDarkGrey !important;
  //background-color: black !important;
}

.stepIntro {
  margin-top: $lineHeight !important;
  font-weight: 300 !important;
  text-align: center;
}

.toDoDetail {
  .column {
    text-align: center !important;
  }
  p {
    font-weight: 300 !important;
    //font-size: 0.8*$lineHeight !important;
  }
  i {
    color: $white;
    margin-bottom: $lineHeight !important;
    font-size: 2*$lineHeight !important;
  }
}

.designProcessDetailContainer {
  //background-color:$darkGrey !important;
  margin-bottom: 2*$lineHeight !important;
  p {
    font-weight: 300 !important;
    font-size: 0.8*$lineHeight !important;
  }

  .item {
    color: $white !important;
    font-weight: 300 !important;
    font-size: 0.8*$lineHeight !important;
  }

  .card {
    background-color:#403F49 !important;
    box-shadow: 0 1px 3px 0 $blue,0 0 0 1px $blue !important;
  }

  .photoCardHeader {
    font-weight: 400 !important;
    color: $white !important;
    font-size: 0.75*$lineHeight !important;
  }

  .photoImage {
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
  }

  .photoContent {
    font-size: 0.7*$lineHeight !important;
  }

}


.ui.piled.segment:before {
  background-color:$darkGrey !important;
}

.ui.piled.segment:after {
  background-color:$darkGrey !important;
}

.processDetailHeader {
  text-align:center;
  color: $blue;
  font-size:1.4*$lineHeight;
  //margin: 0.5*$lineHeight 0 0.5*$lineHeight 0;
}

.processDetailContent {
  text-align:center;
  margin-top: $lineHeight;
}

.personaName {
  color: $white !important;
}

.personaMeta {
  color: $lessWhite !important;
  margin-bottom:1*$lineHeight !important;
  line-height: 1.2*$lineHeight !important;
  font-size: 0.8*$lineHeight !important;
  font-weight: 300 !important;
}

.videoMeta {
  color: $lessWhite !important;
  line-height: 1.2*$lineHeight !important;
  font-size: 0.8*$lineHeight !important;
  font-weight: 300 !important;
}


.howMightWeContainer {
  text-align: center;
  .howMightWeContent {
    //display: inline !important;
  }
  .howMightWeLabel {
    font-weight: 400 !important;
    margin-bottom: 0.5*$lineHeight !important;
  }
}

.processDetailItem {
  margin-top:0 !important;
  .processDetailItemName {
    font-weight: 400 !important;
    color: $white !important;
  }
  .processDetailItemName:hover {
    color: $blue !important;
  }
}

.projectDetailContainer {
  background-color:$lessDarkGrey;
  //display: none;
}

.projectContainer.ng-enter {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.projectContainer.ng-leave {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -sms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoIntro {
  margin-top: 0 !important;
  font-weight: 300 !important;
  text-align: center;
  //margin-bottom: 0 !important;
}

.centeredContentDiv {
  display: flex !important;
  justify-content: center !important;
}

.inheritIntroHeader {
  color: $white;
  font-size: 0.9*$lineHeight;
  //font-weight: 400 !important;
  text-align: center;
  margin-bottom: 0.5*$lineHeight;
}

.inheritIntroContent {
  font-weight: 300 !important;
  font-size: 0.8*$lineHeight !important;
  text-align: center;
}
