
$blue           : #00A9FF;
$darkGrey       : #383740;
$lessDarkGrey   : #403F49;
$lightGrey      : #706F7F;
$black          : #2d2c33;
$white          : rgba(255,255,255,.9);
$lessWhite      : rgba(255,255,255,.7);
$primaryColor   : $blue;
$secondaryColor : $darkGrey;
$lineHeight     : 1.4285rem;

/*p {
  font-family: 'Open Sans', sans-serif !important;
}*/

@media only screen and (max-width: 767px) {
  .ui.grid .ui.stackable.grid {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}


strong {
  font-weight:600 !important;
}

.ui.table {
  font-size: 1rem !important;
}

.ui.grid {
  margin-top:0 !important;
  margin-bottom:0 !important;
}

.ui.disabled.dimmer {
  display: none !important;
}

html, body {
  //position:absolute !important;
  //overflow:hidden !important;
  width: 100%;
}

.pushable {
  position: absolute !important;
}

.transparentMenu {
  background: none !important;
}

.fullScreenHeader {
  //display: none !important;
  padding-left:5rem !important;
  padding-right:5rem !important;
}

.logoText {
  position:relative !important;
  top:0.5rem !important;
  font-size:2.5714rem !important;
}

.responsiveHeader {
  display: none !important;
  margin: 0 !important;
  background-color: $black !important;
  .logoTextContainer {
    width: 100%;
    display: flex !important;
    justify-content: center !important;
  }
  .logoText {
    position:relative !important;
    top:0.2rem !important;
  }
}


.customJumbotron {
  width: 100% !important; /* Could also use width: 100%; */
  height: 100vh !important;
  position:relative !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  overflow:hidden;
}

.customVideoBG {
  width: 100% !important; /* Could also use width: 100%; */
  height: 100vh !important;
  position:absolute !important;
  //object-fit: cover !important;
  overflow:hidden;
}

.customJumbotronBGContent {
  width: 100% !important; /* Could also use width: 100%; */
  height: 100vh !important;
  object-fit: cover !important;
  position: absolute !important; /* Change position to absolute if you don't want it to take up the whole page */
  left: 0px !important;
  top: 0px !important;
  z-index: -1 !important;
  opacity:0.1 !important;
  overflow:hidden !important;
  video {
    width: 1920px;
  }
}

@media (min-width: 1921px) {
  .customJumbotronBGContent {
    video {
      width: 2560px;
    }
  }
}

.customJumbotronBGContent img {
  display: none !important;
}

.customJumbotronContent {

  margin-top: 7vh;
  //width:52rem;

  .customJumbotronMainText {
    font-size:4rem;
    margin:3vh 0 0 0;
    line-height: 3*$lineHeight !important;
    margin-bottom: 0.5*$lineHeight;
    //font-weight:400;
  }

  button {
    display:block !important;
    margin:auto !important;
  }

  p {
    color:$white;
    font-size:1.4285rem;
    font-weight:400;
    text-align:center;
    //margin:0.5rem 0 0 0;
  }


  i {
    display:block !important;
    margin: auto !important;
    margin-top: 1rem !important;
    animation-duration: 2000ms !important;
  }
}

.sectionContainer {
  //margin-top: 4rem;
  padding: 3rem 0 5rem 0 !important;
  .header-container {
    text-align: center;
    margin-bottom: 2rem;
  }
  h1 {
    font-size: 2*$lineHeight !important;
    color: $blue !important;
    font-weight:400 !important;
    padding-bottom: 1rem !important;
    border-bottom: 4px solid $white !important;
    display: inline-block;
  }
  h2 {
    font-size:1.5*$lineHeight !important;
    color: $blue !important;
    font-weight: 400 !important;
  }
  hr {
    height: 0.15rem;
    background-color: $white;
    margin-bottom: 2rem;
  }

  p {
    color:$white;
    font-size:0.9*$lineHeight;
    font-weight:400;
  }
}

.evenContainer {
  //background:#4b4b4e !important;
  background:$lessDarkGrey;
}

.oddContainer {
  //background:#4b4b4e !important;
  background:$darkGrey;
  p {
    font-weight:300;
  }
}

#timelineSVGContainer {
  //padding-left:5rem;
  //padding-right:5rem;
  width:100%;
}

.leftColumnContanier {
  //padding-right:3rem !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
}

.rightColumnContanier {
  //width: 50% !important;
  //padding-left:3rem !important;
  //box-shadow: none !important;
}


.pageFooter {
  padding-top: $lineHeight;
  padding-bottom:$lineHeight;
  background-color:$black;
  text-align:center;
  h1 {
    color:$blue !important;
    font-weight:400 !important;
    margin-bottom: 0.5rem !important;
    //font-size: 1*$lineHeight !important;
  }

  .contactInfo {
    color:$white;
    display:inline-block;
    margin-bottom: 0.5rem;
  }

  .contactInfoItem {
    margin-left: 1rem;
    display:inline-block;
    a {
      color:$white;
    }
  }

  .copyRight {
    text-align:center;
    color:$lightGrey !important;
    margin-bottom:0.5rem;
    display:inline-block;
    margin-left:0.5rem;
    font-weight: 400 !important;
    border: none !important;
  }
}

.projectIntro
{
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;

  .projectIntroHeader {
    color:$blue !important;
    font-size:2rem !important;
    line-height: 1.5*$lineHeight;
  }

  .extra
  {
    div {
      font-weight:200 !important;
    }
  }

  p {
    font-weight:200 !important;
    //font-size: $lineHeight;
  }

  a {
    color: $blue !important;
  }
}

.projectCard {
  width: 100% !important;
  .header {
    display:inline !important;
  }
  .projectLogo {
    padding-top: 0.2rem;
    max-width:6rem !important;
    max-height: 2rem !important;
    display:inline !important;
    float:right !important;
  }
}

.closeIcon {
  color: $lessWhite;
  //display: none !important;
  cursor: pointer;

}

.closeIcon:hover {
  color:$white;
}

.step {
  font-size:0.85714286rem !important;
  color: $white !important;
}

.stepContainer {
  display: flex;
  justify-content: center;
  padding-top: $lineHeight;
}

.ui.steps .step:after {
  border-color: $blue !important;
}

.ui.steps .step.active:after {
   //border-color: $lessDarkGrey !important;
 }

.ui.steps .step:hover::after {
  //border-color: $lessDarkGrey !important;
  //background-color: $lessDarkGrey;
}

.ui.steps .step.active {
  //border-right: 1px solid $lessDarkGrey !important;
  //border-left: 1px solid $lessDarkGrey !important;
}

.ui.steps a.step:hover {
  //border-right: 1px solid $lessDarkGrey !important;
  //background-color: black !important;
}

.stepIntro {
  margin-top: $lineHeight !important;
  font-weight: 300 !important;
  text-align: center;

}

.toDoDetail {
  .column {
    text-align: center !important;
  }
  p {
    font-weight: 300 !important;
    //font-size: 0.8*$lineHeight !important;
  }
  i {
    color: $white;
    margin-bottom: $lineHeight !important;
    font-size: 2*$lineHeight !important;
  }
}

.designProcessDetailContainer, .portfolioDataDashboardDetailContainer {
  //background-color:$darkGrey !important;
  margin-bottom: 2*$lineHeight !important;
  p {
    font-weight: 200 !important;
    font-size: 0.85*$lineHeight !important;
  }

  .item {
    color: $white !important;
    font-weight: 300 !important;
    font-size: 0.8*$lineHeight !important;
    line-height: 1.1*$lineHeight !important;
  }

  .dpCard {
    background-color:#403F49 !important;
    box-shadow: 0 1px 3px 0 $blue,0 0 0 1px $blue !important;
  }

  .photoCardHeader {
    font-weight: 400 !important;
    color: $white !important;
    font-size: 0.75*$lineHeight !important;
  }

  .photoImage {
    border-top: 1px solid $blue;
    border-bottom: 1px solid $blue;
  }

  .photoContent {
    font-size: 0.7*$lineHeight !important;
  }
  a {
    color: $blue !important;
  }



}

.ui.piled.segment:before {
  background-color:$darkGrey !important;
}

.ui.piled.segment:after {
  background-color:$darkGrey !important;
}

.processDetailHeader {
  text-align:center;
  color: $blue;
  font-size:1.4*$lineHeight;
  //margin: 0.5*$lineHeight 0 0.5*$lineHeight 0;
}

.processDetailContent {
  text-align:center;
  margin-top: $lineHeight;
}

.personaName {
  color: $white !important;
}

.personaMeta {
  color: $lessWhite !important;
  margin-bottom:1*$lineHeight !important;
  line-height: 1.2*$lineHeight !important;
  font-size: 0.85*$lineHeight !important;
  font-weight: 200 !important;
}

.videoMeta {
  color: $lessWhite !important;
  line-height: 1.2*$lineHeight !important;
  font-size: 0.8*$lineHeight !important;
  font-weight: 300 !important;
}


.howMightWeContainer {
  text-align: center;
  .howMightWeContent {
    //display: inline !important;
  }
  .howMightWeLabel {
    font-weight: 400 !important;
    margin-bottom: 0.5*$lineHeight !important;
  }
}

.processDetailItem {
  margin-top:0 !important;
  margin-bottom: $lineHeight !important;
  .processDetailItemName {
    font-weight: 400 !important;
    color: $white !important;
  }
  .processDetailItemName:hover {
    color: $blue !important;
  }
}

.projectDetailContainer {
  background-color:$lessDarkGrey;
  //display: none;
}

.projectContainer.ng-enter {
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

.projectContainer.ng-leave {
  -webkit-animation: fadeOut 1s;
  -moz-animation: fadeOut 1s;
  -sms-animation: fadeOut 1s;
  animation: fadeOut 1s;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0px;
  height: 0;
  display:flex !important;
  justify-content: center !important;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoIntro {
  margin-top: 0 !important;
  font-weight: 300 !important;
  text-align: center;
  //margin-bottom: 0 !important;
}

.centeredContentDiv {
  display: flex !important;
  justify-content: center !important;
}

.inheritIntroHeader {
  color: $white;
  font-size: 0.9*$lineHeight;
  //font-weight: 400 !important;
  text-align: center;
  margin-bottom: 0.5*$lineHeight;
}

.inheritIntroContent {
  font-weight: 300 !important;
  font-size: 0.8*$lineHeight !important;
  text-align: center;
}

.videoNotDisplayText {
  display: none;
}


@media (max-width: 1024px) and (min-width: 768px) {
  html {
    font-size:80% !important;
  }
  .flashVideo {
    display: none
  }
  .videoNotDisplayText {
    display: block;
  }
  .pageFooter {
    font-size:80% !important;
  }
  .responsiveHeader {
    display: flex !important;
  }
  .fullScreenHeader {
    display: none !important;
  }
}

@media (max-width: 767px) {
  html {
    font-size:70% !important;
  }
  .flashVideo {
    display: none !important;
  }
  .videoNotDisplayText {
    display: block;
  }
  .pageFooter {
    font-size:70% !important;
  }
  .responsiveHeader {
    display: flex !important;
  }
  .fullScreenHeader {
    display: none !important;
  }
  #skillsSVG {
    width: 70%;
    display:block;
    margin:auto
  }
  #Header {
    width: 70%;
    display:block;
    margin:auto
  }
  #Content {
    width: 70%;
    display:block;
    margin:auto
  }
  .customJumbotronBGContent video {
    display: none !important;
  }
  .customJumbotronBGContent img {
    display: block !important;
  }
  .yoWorkFlow {
    display:block !important;
    img {
      margin: auto;
      max-width: 300px !important;
      width:100% !important;
      height: auto !important;
    }

  }
  .sectionContainer {
    //padding: 3rem 0 1rem 0 !important;
  }

  .processDetailHeader {
    line-height: 2.5rem !important;
  }
}

.gridTable {
  padding-left: 0 !important;
  padding-right: 0 !important;
  opacity: 0.85;
  //margin-left: 1rem !important;
  //margin-right: 1rem !important;
}

.tableRowTitle {
  font-weight: 700 !important;
}

.ui.table[class*="single line"] {
  white-space: inherit !important;
}

.gridExample {
  min-height: 3*$lineHeight;
  position:relative !important;
  z-index:11;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
  //background-color: $white !important;
  //box-sizing: content-box !important;
  //padding: 0 !important;
  //margin: 0.5rem !important;
}
.gridExample:after {
  content: "";
  display:block;
  min-height: 3*$lineHeight;
  background-color: #DDDDDD !important;
  box-sizing: inherit;
  //box-sizing: content-box !important;
  //padding: 0 !important;
  //margin: 0.5rem !important;
}

.gridExampleContainer {
  opacity:0.9;
  position:relative !important;
}

.gridExampleContainer:before {
  opacity:0.9;
  position: absolute;
  //top: 1rem;
  left: 1rem;
  //border: 1px solid $blue;
  //background-color: #FAFAFA;
  content: '';
  width: calc(100% - 2rem);
  height: 100%;
  box-shadow: 0px 0px 0px 1px #DDDDDD inset;
}

.fontList {
  .item {
    .header {
      font-weight: 400 !important;
      color: $lightGrey !important;
      font-size: 1rem !important;

    }
    .Extra-Light {
      font-weight: 200 !important;
    }
    .Light {
      font-weight: 300 !important;
    }
    .Normal {
      font-weight: 400 !important;
    }
    .Semi-Bold {
      font-weight: 600 !important;
    }
    .Bold {
      font-weight: 700 !important;
    }
    .Ultra-Bold {
      font-weight: 900 !important;
    }
    font-size: 0.9*$lineHeight !important;
    //text-align: center !important;
    .Italic {
      font-style: italic !important;
    }
  }
}

.colorSchemeContainer {
  //display:flex;
  .colorScheme {
    float: left;
    width: 20%;
    border: 1px $white solid;
    height: 3*$lineHeight;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    margin-bottom: $lineHeight;
    p {
      text-align: center;
      margin: 0 !important;
      font-size: 0.7*$lineHeight !important;
      font-weight: 400 !important;
    }
  }
  .colorSchemeOne {
    background-color: $blue;
    p {
      color: $white !important;
    }
  }
  .colorSchemeTwo {
    background-color: $white;
    p {
      color: $black !important;
    }
  }
  .colorSchemeThree {
    background-color: $lightGrey;
  }
  .colorSchemeFour {
    background-color: $darkGrey;
  }
  .colorSchemeFive {
    background-color: $black;
  }
}

.yoWorkFlow img{
  //background-color:#2a333c;
  //max-width: 5rem;
  opacity: 0.85;
  //max-width: 300px !important;
}

code {
  font-family: "Source Code Pro" !important;
  word-wrap: break-word;
}

.testimonial {
  color: $white;
  padding: 1rem 1.5rem;
  //height: 100%;
  font-size: 1rem;
}

.codeBox {
  background-color: $black;
  color: $white;
  padding: 1rem 1.5rem;
  //height: 100%;
  font-size: 1rem;
  .token.number {
    color: #7BCCFF;
  }
  .token.comment {
    color: #708090;
  }
  .token.property {
    color: #FF99C6;
  }
  .token.keyword {
    color: #66d9ef;
  }
  .token.function {
    color: #FFF595;
  }
  .token.selector {
    color:#BBFFB0;
  }

}

.processDetailItemSpecialContent {
  font-size: 0.85*$lineHeight !important;
  font-weight: 200 !important;
  //line-height: $lineHeight !important;
}

table {
  opacity: 0.9;
}

.portfolioDataDashboardContainer .ui.steps .active.step:after, .portfolioDataDashboardContainer .ui.steps .step:after{

  display: none;
}

.portfolioDataDashboardContainer .segment {
  min-height: 100px !important;
}

.dataSectionContainer {
  //display: none !important;
}

.dataTileContainer {
  display:flex !important;
  justify-content: center;

  .value {
    opacity: 0;
  }
}

.chartPanelLarge {
  background-color:$black;
  padding-left:2rem;
  padding-right:2rem;
  height: 20*$lineHeight;
}

.chartCanvas {
  display: none;
  height: 19*$lineHeight;
}
.errorMessage {
  text-align: center;
  position: relative;
  top:45%;
  display:none;

  color:$lightGrey;
  font-size: $lineHeight;
}


