.sectionContainer {
  background-image: url(http://basehold.it/i/20/ffffff);
}

.pageFooter {
  background-image: url(http://basehold.it/i/20/ffffff);
}

/*.customJumbotron
{
  background-image: url(http://basehold.it/i/14/ffffff);
}*/

.designProcessDetailContainer {
  background-image: url(http://basehold.it/i/20/ffffff) !important;
}


