<div class="transparentMenu ui stackable borderless large inverted top fixed menu" id="menuHeader">
  <div class="item">
    <h1 class="ui header inverted" id="logoText">
      &nbsp;YUNHAO'S <span style="color:#00A9FF">PORTFOLIO</span>
    </h1>
  </div>
  <!--
  <a class="right active item" style="align-items:flex-end;">
    <i class="bookmark icon"></i>
    &nbsp;HOME
  </a>
  -->
  <a class="right active item" style="align-items:flex-end;">
    <i class="spy icon"></i>
    &nbsp;ABOUT ME
  </a>
  <a class="item" style="align-items:flex-end;">
    <i class="desktop icon"></i>
    &nbsp;WORK PROJECTS
  </a>
  <a class="item" style="align-items:flex-end;">
    <i class="photo icon"></i>
    &nbsp;PHOTOS
  </a>
  <a class="item" style="align-items:flex-end;">
    <i class="film icon"></i>
    &nbsp;VIDEOS
  </a>

</div>
