<div ng-controller="PersonalPortfolioController">
  <div id="projectAnchor" style="position:relative; top:-5rem"></div>
  <div class="oddContainer">
    <div class="ui stackable grid container sectionContainer">
      <div class="one wide column">
        <i class="ui remove big icon closeIcon" ng-click="closeProjectDetail()"></i>
      </div>
      <div class="eight wide column">

        <div class="ui special inverted blue card projectCard">
          <div class="dimmable image">
            <div class="ui dimmer disableDimmer">
              <div class="content">
                <div class="center">
                </div>
              </div>
            </div>
            <img ng-src={{project.image}}>
          </div>

          <div class="content">
            <div class="header">{{project.name}}</div>
            <img class="projectLogo" ng-src={{project.companyLogo}}>
          </div>
          <div class="extra content">
          <span class="right floated">
            <i class="calendar icon"></i>
            {{project.date}}
          </span>
          <span>
            <i class="icon" ng-class="project.roleIconClass"></i>
            {{project.role}}
          </span>
          </div>
        </div>
      </div>

      <div class="six wide column projectIntro">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <div class="header projectIntroHeader">{{project.name}}</div>
              <div class="description">
                <p>{{project.intro1}}</p>
                <p>{{project.intro2}}</p>
              </div>
              <div class="extra">
                <div class="ui black large label" ng-repeat="tool in project.tools">{{tool}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="one wide column"></div>

    </div>
  </div>
  <div class="projectDetailContainer">
    <div class="ui container sectionContainer">

      <h2 class="ui header centered large inverted horizontal divider">DESIGN PROCESS</h2>
      <div class="stepContainer">
        <div class="ui stackable steps">
          <a class="active step" data-tab="interaction">
            <i class="sitemap icon"></i>
            <div class="content">
              <div class="title">INFOMATION</br>ARCHITECT</div>
            </div>
          </a>
          <a class="step" data-tab="grid">
            <i class="grid layout icon"></i>
            <div class="content">
              <div class="title">RESPONSIVE</br>GRID</div>
            </div>
          </a>
          <a class="step" data-tab="vertical">
            <i class="tasks icon"></i>
            <div class="content">
              <div class="title">VERTICAL</br>RHYTHM</div>
            </div>
          </a>
          <a class="step" data-tab="color">
            <i class="paint brush icon"></i>
            <div class="content">
              <div class="title">COLOR</br> & FONT</div>
            </div>
          </a>
          <a class="step" data-tab="visual">
            <i class="laptop icon"></i>
            <div class="content">
              <div class="title">FINAL</br>VISUAL</div>
            </div>
          </a>

        </div>
      </div>

      <!-- Interaction Content -->
      <div class="ui active tab" data-tab="interaction" style="z-index: -2">
        <p class="stepIntro">A sitemap was created to organize my thoughts.</p>
        <div class="ui raised segment designProcessDetailContainer">

          <div class="ui stackable grid container">
            <div class="sixteen wide column processDetailHeader">Sitemap & Low-fi Wireframe</div>
            <div class="three wide computer one wide tablet column"></div>
            <div class="ten wide computer fourteen wide tablet column">
              <div class="ui image">
                <img src="/images/SiteMap.png" />
              </div>
            </div>
            <div class="three wide computer one wide tablet column"></div>


          </div>

        </div>


      </div>

      <!-- Grid Content -->
      <div class="ui tab" data-tab="grid">
        <p class="stepIntro">A grid system was designed to vertically align all elements on my website.</p>
        <div class="ui raised segment designProcessDetailContainer">



          <div class="ui stackable grid container">

            <div class="sixteen wide column processDetailHeader">
              <div>Container</div>
              <p class="processDetailContent">A container is an element designed to contain page elements to a reasonable maximum width based on the size of a user's screen.</p>
            </div>
            <div class="sixteen wide column">
              <table class="ui unstackable single line blue table gridTable">
                <thead>
                <tr><th></th>
                  <th>Mobile</th>
                  <th>Tablet</th>
                  <th>Small Monitor</th>
                  <th>Large Monitor</th>
                </tr></thead>
                <tbody>
                <tr>
                  <td class="tableRowTitle">Width</td>
                  <td>100%</td>
                  <td>
                    723px
                  </td>
                  <td>
                    933px
                  </td>
                  <td>
                    1127px
                  </td>
                </tr>
                <tr>
                  <td class="tableRowTitle">Responsive Visibility</td>
                  <td><code>mobile only</code></td>
                  <td><code>tablet only</code></td>
                  <td><code>small monitor only</code></td>
                  <td><code>large monitor only</code></td>
                </tr>
                <tr>
                  <td class="tableRowTitle">Device Width</td>
                  <td>below 768px</td>
                  <td>768px - 991px</td>
                  <td>992px - 1200px</td>
                  <td>above 1200px</td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="sixteen wide column processDetailHeader">
              <div>Grid</div>
              <p class="processDetailContent">Grids divide horizontal space into indivisible units called "columns".
                All columns in a grid must specify their width as proportion of the total available row width. I chose an 16 column count to allow per row.
              And each website element span a certain number of columns.</p>
            </div>

            <div class="sixteen wide column">
              <div class="ui grid container gridExampleContainer">
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
                <div class="column gridExample"></div>
              </div>

            </div>

          </div>

        </div>
      </div>

      <!-- Vertical Rhythm Content -->
      <div class="ui tab" data-tab="vertical">
        <p class="stepIntro">A vertical rhythm was used to achieve visual consistency in website design.</p>
        <div class="ui raised segment designProcessDetailContainer">
          <div class="ui stackable grid container">
            <div class="sixteen wide column processDetailHeader">
              <div>Baseline Grid</div>
              <p class="processDetailContent">No matter what font-size any text element is, its line-height is always an even multiple of a consistent unit of rhythm. I chose the base line-height
              as 20px, and base font-size as 14px. Then every website element's height, padding and margin is a multiple of base line height.</p>
            </div>
            <div class="two wide column"></div>
            <div class="twelve wide column">
              <div class="ui image">
                <img src="/images/vertical_layout.png" />
              </div>
            </div>
            <div class="two wide column"></div>
          </div>
        </div>
      </div>

      <!-- Color Font Content -->
      <div class="ui tab" data-tab="color">
        <p class="stepIntro">The art of typography and color scheme.</p>
        <div class="ui raised segment designProcessDetailContainer">
          <div class="ui grid container">
            <div class="sixteen wide column processDetailHeader">
              <div>Typography</div>
              <p class="processDetailContent">Source Sans Pro, Adobe's first open source typeface family, is one of my favourite typography. It is both legible in short UI labels, as well as being comfortable to read
               in longer passages of text on screen. It also has a wide range of weights which could create appropriate visual hierarchy.</p>
            </div>

            <div class="two wide column"></div>
            <div class="four wide column">
              <div class="ui list fontList">
                <div class="item">
                  <div class="header">Extra-Light 200</div>
                  <span class="Extra-Light">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Extra-Light 200 Italic</div>
                  <span class="Extra-Light Italic">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Light 300</div>
                  <span class="Light">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Light 300 Italic</div>
                  <span class="Light Italic">Source Sans Pro</span>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui list fontList">
                <div class="item">
                  <div class="header">Normal 400</div>
                  <span class="Normal">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Normal 400 Italic</div>
                  <span class="Normal Italic">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Semi-Bold 600</div>
                  <span class="Semi-Bold">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Semi-Bold 600 Italic</div>
                  <span class="Semi-Bold Italic">Source Sans Pro</span>
                </div>
              </div>
            </div>
            <div class="four wide column">
              <div class="ui list fontList">
                <div class="item">
                  <div class="header">Bold 700</div>
                  <span class="Bold">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Bold 700 Italic</div>
                  <span class="Bold Italic">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Ultra-Bold 900</div>
                  <span class="Ultra-Bold">Source Sans Pro</span>
                </div>
                <div class="item">
                  <div class="header">Ultra-Bold 900 Italic</div>
                  <span class="Ultra-Bold Italic">Source Sans Pro</span>
                </div>
              </div>
            </div>
            <div class="two wide column"></div>

            <div class="sixteen wide column processDetailHeader">
              <div>Monochromatic Color Schemes</div>
              <p class="processDetailContent">I decided to apply a monochromatic color scheme to my website, which are made up of different tones, shades and tints within a specific grey hue (hue 244). It's
               great for base colors of text and supportive elements like borders, backgrounds, shadows, etc.</p>
            </div>
            <div class="four wide computer three wide tablet two wide mobile column"></div>
            <div class="eight wide computer ten wide tablet twelve wide mobile column colorSchemeContainer">
              <div class="colorScheme colorSchemeOne"></div>
              <div class="colorScheme colorSchemeTwo"></div>
              <div class="colorScheme colorSchemeThree"></div>
              <div class="colorScheme colorSchemeFour"></div>
              <div class="colorScheme colorSchemeFive"></div>
            </div>
            <div class="four wide computer three wide tablet two wide mobile column"></div>



          </div>
        </div>
      </div>

      <!-- Test Content -->
      <div class="ui tab" data-tab="test">
        <p class="stepIntro">Test + collect feedback through use of rapid interaction cycles. Refine the solution. Measure & repeat.</p>
        <div class="ui raised segment designProcessDetailContainer">
          <div class="ui stackable grid container">
            <div class="sixteen wide column processDetailHeader">
              <div>Test with Design Partners</div>
              <p class="processDetailContent">And again, every week PM, dev lead and I jumped on the "Design Partner" call and validated the
                design solutions with our customers. Based on the feedback, we continued to refine the solutions and do rapid iteration cycles.</p>
            </div>
          </div>
        </div>
      </div>

      <!-- Youtube Video -->
      <h2 class="ui header centered large inverted horizontal divider">FINAL PRODUCT</h2>
      <div class="ui stackable grid">

        <div class="two wide computer tablet only column"></div>
        <div class="twelve wide column">
          <p class="videoIntro">Executive Dashboard Product Demo Video for 2015 Network of Vertafore Users (NetVU) Conference.</p>
          <div class="videoWrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/LhpGJd2e4Wk" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="two wide computer tablet only column"></div>
      </div>

      <h2 class="ui header centered large inverted horizontal divider">CUSTOMER FEEDBACK</h2>
      <div class="ui stackable grid">
        <div class="two wide computer tablet only column"></div>
        <div class="twelve wide column">
          <p class="videoIntro">Listen to what one of my design partners, Joseph Rukas
            (the Vice President of Conner Strong & Buckelew) says about the product.</p>
          <p class="videoIntro videoNotDisplayText">(This device doesn't support Flash Player. Please view this video on computer.)</p>
          <div class="videoWrapper flashVideo">
            <iframe width="560" height="315" src="http://admin.brightcove.com/viewer/us20160520.1717/BrightcoveBootloader.swf?playerID=2509521884001&playerKey=AQ~~%2CAAACHVPEk_k~%2C2rNY2xgKHOUtEpycgazjqKAhz9uwzUik&purl=https%3A%2F%2Fxiaohao9006.github.io%2F&%40videoPlayer=4132179254001&autoStart=false&bgcolor=%23FFFFFF&debuggerID=&dynamicStreaming=true&flashID=myExperience&height=460&identifierClassName=BrightcoveExperienceID_2926&isUI=true&isVid=true&linkBaseURL=http%3A%2F%2Fwww.vertafore.com%2FWebVideosFrame&startTime=1465796541647&videoID=4132179254001&width=650" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="two wide computer tablet only column"></div>
      </div>






    </div>
  </div>
</div>


